# Byte-compiled Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.sqlite3
staticfiles/
media/

# Virtual environments
env/
venv/
.venv/

# Local env files
.env

# Version control
.git/
.gitignore
