option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: facevalue.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    # Django settings
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
    # PostgreSQL RDS configuration
    POSTGRES_DB: facevalue
    POSTGRES_USER: postgres
    POSTGRES_HOST: facevalue.c3uww8i4qmkv.us-west-1.rds.amazonaws.com
    POSTGRES_PORT: "5432"
